.contend{
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    align-items: center;
    padding: 0 10px;
    margin: 0 25px;
}
.contend div{
    margin: 10px 0
}
.searchBar{
    padding-top: 15px 
}
.wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    left: 0;
    margin: 0 auto;
  }
  
  .select {
      position: relative;
      width: 350px;
      padding-bottom: 10px;
  }
  
  .select_text {
      color: #fff;
      position: relative;
      font-family: inherit;
      background-color: transparent;
      width: 350px;
      padding: 10px 10px 10px 0;
      font-size: 18px;
      border-radius: 0;
      border: none;
      border-bottom: 1px solid rgba(99, 213, 248, 0.329);
  }
  .select_text option{
      color: #000
  }
  .select_text:focus {
      outline: none;
      border-bottom: 1px solid rgba(0,0,0, 0);
  }
  
  .select .select_text {
      appearance: none;
      -webkit-appearance:none
  }
  
  .select:after {
      position: absolute;
      top: 18px;
      right: 10px;
      width: 0;
      height: 0;
      padding: 0;
      content: '';
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid rgb(255, 255, 255);
      pointer-events: none;
  }
  
  .select_bar {
      position: relative;
      display: block;
      width: 350px;
  }
  
  .select_bar:before, .select_bar:after {
      content: '';
      height: 2px;
      width: 0;
      bottom: 1px;
      position: absolute;
      background: #2F80ED;
      transition: 0.2s ease all;
  }
  
  .select_bar:before {
      left: 50%;
  }
  
  .select_bar:after {
      right: 50%;
  }
  

  .select_highlight {
      position: absolute;
      height: 60%;
      width: 100px;
      top: 25%;
      left: 0;
      pointer-events: none;
      opacity: 0.5;
  }


.search__input {
    width: 500px;
    padding: 12px 24px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-top-left-radius:50px ;
    border-bottom-left-radius:50px ;
    border-bottom: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    border-right: none;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.searchButton{
    color: #fff;
    height: 44px;
    width:  45px;
    background-color: rgba(255, 255, 255, 0);
    border-top-right-radius:50px ;
    border-bottom-right-radius:50px ;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-left: none;
}