.card{
    border-radius: 25px;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    border-radius: 25px;
}
.card img{
    object-fit: cover;
    width: 600px;
    height: 500px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}
.contend{
    display: grid;
    grid-template-columns: 50px, 70px ;
    grid-template-rows: 10px, 10px ;
    width:45%;
}
.contend h2{
    width:100%;
    margin: 0;
    padding-top: 20px;
    text-align: center;
    font-size: 30px;
    color: #fff;
    grid-column-end: 3;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 2;
}
.contend h4{
    margin: 0 10px;
    text-align: right;
    color: #fff;
}
.contend p{
    margin: 0 10px;
    text-align: left;
    color: #000;

}
.temps{

    text-align: left;
    grid-column-end: 3;
}
.tempsTitle{
    text-align: left;
}