.card{
    align-items: center;
    width: 500px;
    justify-content: center;
      margin: 10px 30px 10px 30px;
      background: #1481ba;
      border-radius: 10px;
      text-align: center;
      transition: 0.4s;
    }
    
.card:hover{
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);

    }
  .image{
    background-position: center; 
    background-size:cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 500px;
    height: 300px;
  }
  .name{
    text-decoration: none;
    width: 200px;
    margin: 5px auto 10px auto;
    font-size: 30px;
    white-space:initial;
  }
  .temp{
    margin: 0 80px 20px 80px
  }
  .card p{
    color: #fff
  }
  .card a {
    color: #fff;
    text-decoration: none;
    background-image: linear-gradient(rgba(47, 143, 233, 0.733), currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
  .card a:hover, a:focus {
    background-size: 100% 2px;
}