.cards{
    display: flex;
    flex-direction: wrap;
    flex-wrap: wrap;

  /*  height: 100vh; 

   grid-template-columns: repeat(2, 1fr); 

   grid-template-rows: repeat(2, 1fr);   */
}
.home{
    height: 100vh;
}
.arrow{
    font-size: 18px;
    background-color: #fff;
    border-style: none;
    width: 30px;
    height: 30px;
    border-radius: 10%;
    margin: 5px;
    color: rgb(45, 103, 230);
}
.arrow:hover{
    font-size: 18px;
    background-color: rgb(45, 103, 230);
    border-style: none;
    width: 30px;
    height: 30px;
    border-radius: 10%;
    margin: 5px;
    color: #fff;
}
.main{
    color:#fff;
    font-size: 18px;
    background-color: rgb(49, 137, 238);
    border-color: rgb(88, 180, 226);
    border-style: none;
    width: 30px;
    height: 30px;
    border-radius: 10%;
    margin: 5px
}