
.img{
    object-fit: cover;
    width: 100%;
    height: 615px;
}
.start{
    width: 100%;
    height: 100%;
}
.start h1{
    color: #fff;
    font-size:60px;
    position:absolute;
    top: 20%;
    left: 40%;
    text-shadow:
		0 0 5px rgba(0,178,255,1),
		0 0 10px rgba(0,178,255,1),
		0 0 20px rgba(0,178,255,1),
		0 0 40px rgba(38,104,127,1),
		0 0 80px rgba(38,104,127,1),
		0 0 90px rgba(38,104,127,1),
		0 0 100px rgba(38,104,127,1),
		0 0 140px rgba(38,104,127,1),
		0 0 180px rgba(38,104,127,1);
}
.start a{
    position:absolute;
    top: 50%;
    left: 50%;
    color: #fff;
}
.start a svg{
    font-size: 34px;
    color: #fff;
}
.start a :hover{
    font-size: 34px;
    color: rgb(53, 189, 243);
}